doctype html
html
  head
    link(rel='stylesheet', href='/public/css/main.css')
    link(rel='stylesheet', href='/public/css/components/images.css')
    link(rel='stylesheet', href='/public/css/components/swipr.css')

  body
    #app!= html

  script(src="/public/js/bundle.js")