doctype html
html
  head
    link(rel='stylesheet', href='/public/css/pure-min.css')
    link(rel='stylesheet', href='/public/css/styles.css')
  body
    #app!= html
  script(src="/public/js/bundle.js")
