/* search */

.react-search {
  font-weight: 200;
  line-height: 1.5;
}

.react-search .input-text {
  color: #666;
  width: 100%;
  padding: 1em;
}

.menu {
  display: block;
  line-height: 1.5em;
  text-decoration: none;
  white-space: nowrap;
  padding: 1em;
}

.menu ul {
  list-style-type: none;
  padding: 0em;
  margin: 0em;
}

.menu a:hover, .menu a:visited { 
  font-weight: bold;
} 

.menu-open {
  visibility: visible;
  z-index: 2;
  background: #fff;
  border: 1px solid #b7b7b7;
}

.menu-hidden {
  visibility: hidden;
}


/* table-view */

.react-table-view {
  margin: 0;
  font-size: 150%;
  font-weight: 300;
  line-height: 1.5;
}

.react-table-view .sort-up {
  display: inline-block;
  margin-left: 0.2em;
  border-left: 0.2em solid transparent;
  border-right: 0.2em solid transparent;
  border-bottom: 0.2em solid #ABEAFC;
}

.react-table-view .sort-down {
  display: inline-block;
  margin-left: 0.2em;
  border-left: 0.2em solid transparent;
  border-right: 0.2em solid transparent;  
  border-top: 0.2em solid #ABEAFC;
}

.react-table-view table {
  border-collapse: collapse;
  border: 1px solid #cbcbcb;
  color:#666;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  margin: 0.5em;
}

.react-table-view table th {
  padding: 0.5em;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #e0e0e0;
}

.react-table-view table tr {
  text-align: center;
  padding-left: 1em;
}
.react-table-view table td {
  padding: 0.2em;
  background: #fafafa;
}